<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Grace Recipes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link href="~/font-awesome/css/all.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Final_Project_Website.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Grace Recipes</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Recipes" asp-action="Index">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Recipes" asp-action="Index">Meals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Recipes" asp-action="Index">Drinks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="">Log In/Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()



            <footer class="border-top text-black">
                <div class="container">
                    <div class="row-footer">
                        <ul>
                            <li> &copy; 2023 - Grace Recipes</li>
                            <li></li>
                            <li></li>
                            <li class="footer-item"><a href="mailto:gracelimeta@yahoo.com" class="Msg-button">Leave a message</a></li>
                            <li></li>
                            <li></li>
                            <li href="facebook.com" class="fa-brands fa-facebook"></li>
                            &nbsp;&nbsp; <!-- For Space -->
                            <li href="instagram.com" class="fa-brands fa-instagram"></li>
                            &nbsp;&nbsp;
                            <li href="twitter.com" class="fa-brands fa-twitter"></li>
                        </ul>
                    </div>
                </div>
            </footer>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
